<!DOCTYPE html>
<html>
<head>
  <title>SolidusReservedStock</title>
  <%= stylesheet_link_tag    "solidus_reserved_stock/application", media: "all" %>
  <%= javascript_include_tag "solidus_reserved_stock/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
